.container {
  display: grid;
  background-color: lightblue;
  margin-top: 5vh;
  margin-left: 37.5vw;
  width: 25vw;
  height: 90vh;
  justify-content: start;
  align-content: flex-start;
  border-radius: 3rem;
  border: 0.5rem solid black;
  padding-left: 1.5rem;
  padding-bottom: 2rem;
  overflow-x: auto;
}
.list {
  margin: 0;
  padding: 0;
}
@media (max-width: 850px) {
  .container {
    width: 90vw;
    height: 95vh;
    margin-top: 2.5vh;
    margin-left: 5vw;
    margin-right: 5vw;
  }
}
.container::-webkit-scrollbar {
  display: none;
}
