.container {
  display: grid;
  background-color: hotpink;
  margin-top: 5vh;
  margin-left: 32.5vw;
  width: 35vw;
  height: 90vh;
  justify-content: start;
  align-content: flex-start;
  border-radius: 3rem;
  border: 0.5rem solid black;
  padding-left: 2rem;
}
.list {
  margin: 0;
  padding: 0;
}
@media (max-width: 850px) {
  .container {
    background-color: lightblue;
    width: 80vw;
    margin-top: 5vh;
    margin-left: 10vw;
  }
}
