.container {
  background-color: lightblue;
  margin-top: 5vh;
  margin-left: 37.5vw;
  width: 25vw;
  height: 90vh;
  border-radius: 3rem;
  border: 0.5rem solid black;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.SingleTrack {
  display: grid;
  grid-template-columns: 1fr;
}
.cover {
  border-radius: 20px;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 5%;
  width: 90%;
}
.songName {
  text-align: center;
  display: inline;
  font-size: 1rem;
  padding-left: 0;
}
.artistName {
  text-align: center;
  display: inline;
  margin-top: 5%;
}
@media (max-width: 850px) {
  .container {
    width: 90vw;
    height: 95vh;
    margin-top: 2.5vh;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  .artistName {
    display: block;
  }
}
.container::-webkit-scrollbar {
  display: none;
}

.audioPlayer {
  width: 90%;
  margin-top: 40%;
  margin-left: 5%;
  margin-right: 5%;
}
.likeButton {
  width: 2em;
  cursor: pointer;
  display: inline;
}
.addButton {
  width: 2em;
  cursor: pointer;
  display: inline;

  /* padding-right: 5%; */
  align-self: center;
}
.buttonsContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  align-items: center;
  text-align: center;
}
.deleteButton {
  width: 7%;
  margin-top: 2%;
  justify-self: center;
  cursor: pointer;
}
.deleteButton:hover {
  width: 8%;
}
